.cover_album {
    width: 100%;
    height: 100vh;
    transform: translateY(-61px);
    display: grid;
    grid-template-areas:
        "cover_album_1 cover_album_2"
        "cover_album_1 cover_album_3";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.cover_album_1, .cover_album_2, .cover_album_3{
    background-size: cover;
}

.cover_album_1 {
    grid-area: cover_album_1;
    background-image: url("../images/Ale4.jpeg");
    filter: brightness(.8);
    background-position: center;
}

.cover_album_2 h1 {
    width: 80%;
    height: fit-content;
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}
.cover_album_2 h1::before,
.cover_album_2 h1::after {
    content: '';
    display: block;
    width: 100%;
    aspect-ratio: 4;
    background: url('../images/medieval_divider.png');
    background-size: cover;
}

.cover_album_2 h1::before {
    top: 0;
}

.cover_album_2 h1::after {
    bottom: 0;
}

.cover_album_2 {
    grid-area: cover_album_2;
    background-color: #111;
    display: grid;
    place-items: center;
}

.cover_album_3 {
    grid-area: cover_album_3;
    background-image: url("../images/tapiz1.jpg");
    filter: grayscale(1);
    background-position: top;
}

.cover_album_3 h2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #111, #111111cc);
    display: grid;
    place-items: center;
    font-size: 2.6rem;
    padding: 10px 30px;
    color: #fff;
}

.polaroid {
    display: inline-block;
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    transition: .2s ease;
}

.polaroid img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 10px solid white;
}

.polaroid p {
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

.rotate_left {
    transform: rotate(5deg);
}

.polaroid:hover {
    transform: rotate(0deg);
    scale: 1.1;
}

.rotate_right {
    transform: rotate(-5deg);
}

.memorie {
    width: 100%;
    margin: 80px 0;
}

.memorie_left, .memorie_right {
    display: flex;
}

.memorie_right {
    justify-content: end;
    text-align: end;
}

.memorie_right div {
    flex-direction: row-reverse;
}

.memorie_cont {
    display: flex;
    max-width: 650px;
    gap: 40px;
}

.memorie_text {
    display: flex;
    flex-direction: column !important;
    gap: 20px;
    color: #fff;
}

.memorie_text h3 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: .9;
}

.memorie_text p {
    color: #ddd;
}

.album_footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album_footer .nav_item_album a {
    background-color: #ffffff;
    padding: 7px 15px;
    border-radius: 100px;
    color: #111;
    text-decoration: none;
    transition: ease .2s;
    font-weight: bolder;
}

.album_footer .nav_item_album a:hover {
    background-color: #111111;
    color: #fff;
}

.album_bg {
    filter: brightness(.7);
}



@media (max-width: 900px) {
    .memorie_cont {
        flex-direction: column !important;
        text-align: left;
    }
    .cover_album {
        transform: translateY(-61px);
        display: grid;
        grid-template-areas:
            "cover_album_1"
            "cover_album_2"
            "cover_album_3";
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr 1fr;
    }
}