header {
    position: absolute !important;
}

.main_contrato {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../images/tapiz1.jpg");
    min-height: 100vh;
    background-size: cover;
}

section {
    width: 100%;
    padding: 120px 10%;
    background-image: radial-gradient(circle, #00000099, #00000077);
}

.contrato {
    width: 100%;
}

@media (max-width: 600px) {
    section {
        padding: 80px 5%;
    }
}