.main_login {
    display: grid;
    place-items: center;
    height: 100%;
}

.centro_login {
    width: 400px;
    padding: 40px 60px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.login {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    position: absolute;
    height: calc(100% + 40px);
    margin-bottom: 20px;
    opacity: .05;
    z-index: -1;
}

.login label {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.login input[type="password"] {
    width: 100%;
    margin: 8px 0;
    padding: 10px 15px;
    background: none;
    border: 1px solid #555;
    color: #fff;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login input[type="password"]:focus {
    border-color: #ffb3c1;
    box-shadow: 0 0 10px rgba(255, 179, 193, 0.5);
}

input[type="submit"] {
    margin-top: 20px;
    font-size: 1.2rem;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #111;
    background: linear-gradient(135deg, #ffb3c1, #ff9eb9);
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: .3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #e5e5e7, #fff);
}

input[type="submit"]:active {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    .centro_login {
        width: 90%;
    }
}